.container1 {
  margin: 0 auto;
  max-width: 1200px;
}

.hero img {
  width: 100%;
}

.row {
  font-size: 20px;
  line-height: 40px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
