h1 {
  color: #24384C;
}

.descHeader {
  font-size: 50px;
  margin-bottom: 0;
}

.desc {
  font-size: 25px;
  line-height: 45px;
  width: 700px;
}

.lrgBlueTxt {
  font-size: 50px;
  line-height: 80px;
  width: 700px;
  color: #175CD3;
}

#returnHome,
#sbmtReq {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  background-color: #24384C;
  color: white;
  border: 1px solid transparent;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.carouselStepDesc {
  color: #175CD3;
  font-size: 20px;
}

.styleBtns {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
  text-decoration: none;
  padding: 16px 24px;
  color: white;
  border-radius: 5px;
  background-color: #24384C;
  border: 1px solid transparent;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.infoStrip {
  margin-top: 50px;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
}

.grow {
  background-color: #24384C;
  padding: 5px 5px 5px 5px;
  border-radius: 20px;
  height: 90px;
  width: 22%;
  margin: 5px 1% 5px 0;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
  transition: 1.5s;
}

.grow h2 {
  color: #73B8E3;
  margin: 0 0 35px 10px;
  font-size: 35px;
}

.grow p {
  color: white;
  font-size: 35px;
}

.smHovDesc:hover {
  transition: all .75s ease-in-out;
  height: 170px;
  width: 40vw;
}

.lrgHovDesc:hover {
  transition: all .75s ease-in-out;
  height: 170px;
  width: 80vw;
}

.howItWorks {
  font-size: 50px;
  text-align: center;
}

.carouselMidSec {
  max-width: 750px;
}

.carouselImg {
  width: 700px;
}

.arrowsAndImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}


.dotsDiv button {
  margin: 100px 10px 0 10px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.dotsDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dotsDiv img {
  width: 90px;
  cursor: pointer;
}

.leftAngle,
.rightAngle {
  width: 100px;
  border: none;
  cursor: pointer;
}

.carouselDesc {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 50px;
}
